.recipies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name {
    font-size: large;
    font-weight: bold;
    color: blue;
}
.description {
    font-size: medium;
    display: none;
}
.instruction {
    font-size: small;
    display: none;
}
.header {
    color: purple;
    text-align: center;
}
.show {
    display: block;
}
  
.hide {
    display: none;
}

